/* ENCABEZADO PRINCIPAL */
h2{
    margin: 1%;
    display: flex;
    justify-content: left;
    font-size: 20px;
    padding-left: 4rem;
    float:left;
}

h1{
    margin: 1%;
    display: flex;
    justify-content: right;
    font-size: 40px;
    padding-left: 19rem;
    float:left;
}
body{
    font-family: sans-serif;
    margin: 0%;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 1rem;
}


/* EDITAR PERFIL */
.formulario{
background-color: gray;
width: min(40rem , 100%); /*UTILIZAR EL VALOR MAS PEQUEÑO*/
padding: 2rem;
border-radius: 1rem;
margin: 10%;
position: relative;
margin-top: 1px;

}
.formulario fieldset{
    border: none;
}


.contenedor-form{
    padding-left: 5rem;

}
.campo{
    margin-bottom: 1rem;
}
.campo label{
    color: white;
    font-weight: bold;
    margin-bottom: .3rem;
    display: block;
}
.input-text {
width: 100%;
border: none;
padding: .8rem;
border-radius: .5rem;
}
.boton{
    background-color: #8FBF26;
    color: white;
    padding: 1rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3rem;
    width: 20%;
    text-align: center;
    border: none;
}

.boton:hover{
cursor: pointer;
}

.img-perfil{
    padding-right:5rem;
    width:40%;
    border-radius: 50%;
   
   
}
.todo{
    position: relative;
    margin-top: 25px;
}

.titulo{
    overflow: hidden;
}
.titulos h2 h1{
    float:left;
    padding-left: 4rem;
}